<!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="{{ url_for('port_index') }}"><img class="main-logo" src="/static/img/logo/logo.png" alt="" /></a>
                <strong><a href="{{ url_for('port_index') }}"><img src="/static/img/logo/logosn.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li>
                            <a title="Port Scanner" href="{{ url_for('port_index') }}" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Port Scanner</span></a>
                        </li>
                        <li>
                            <a title="LAN Scanner"  href="{{ url_for('lan_index') }}" aria-expanded="false"><span class="educate-icon educate-apps icon-wrap"></span> <span class="mini-click-non">LAN Scanner</span></a>
                        </li>
                        <li>
                            <a title="Intrusion Detection"  href="http://127.0.0.1:5001" aria-expanded="false"><span class="educate-icon educate-form icon-wrap"></span> <span class="mini-click-non">Intrusion Detection</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
<!-- End Left menu area -->